#title {
    text-align: center;
}
body{
    background-color: lightgray;
}
.hole {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50px;
    float: left;
    margin: 5px;
}
.row {
    background-color: blue;
    border-spacing: 0px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#clear{
    justify-content: center;
    display: flex;
} 
